.homepag{
    position: relative;
    height: 100%;

}
.sidebar{
    position: fixed;
    width: 22%;
    height: 100%;
    background-color:aqua;
}
.container{
    background-image: url("assets/home_page_bg_2.jpeg");
    height: 100%;
    color: #fff;
    margin-left: 22%;
}
.user_name{
    margin: 0;
    font-size: 60px;
    padding-top: 60px;
}